<!DOCTYPE html>
<!DOCTYPE html>
<head>
<link type="text/css" rel="stylesheet" href="/css/style.css"/>
<nav>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/albums">albums</a></li>
    <li><a href="/artists">artists</a></li>
    <li><a href="/albums/new">new album</a></li>
    <li><a href="/artists/new">new artist</a></li>
  </ul>
</nav>
</head>
<body>
<%= yield %>
</body>
</html>