<h1>Artists</h1>
<% @artists.each do |artist| %>
  <h2>Artist</h2>
  <%= artist.name %>
    <h3>Albums</h3>
    <% artist.albums.each do |album| %>
      <p><%= album.name %></p>
    <% end %>

<% end %>
