<h3>new artist</h3>

<form action="/artists" method="post">
  <label for="name">name</label>

  <p><input type="text" name="name" pattern=".{1,}" required title="1 character minimum"></p>
  
  <input type='submit' value="add">
</form>
